<div class="row">
  <div class="col-xs-12 col-md-pull-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group row pull-right">
          <div class="col-xs-2" style="padding-top: 7px">
              <label>
                <input
                  type="radio"
                  name="transactionType"
                  value="saque"
                  formControlName="transactionType"
                >
                saque
              </label>
          </div>
          <div class="col-xs-3" style="padding-top: 7px">
              <label>
                <input
                  type="radio"
                  name="transactionType"
                  value="deposito"
                  formControlName="transactionType"
                >
                deposito
              </label>
            </div>
            <div class="col-xs-5">
              <input
                min="1"
                id="amount"
                formControlName="amount"
                class="form-control"
                [ngClass]="{'ng-addSubmited': formSubmitAttempt}"
                currencyMask
                placeholder="Valor">
              <span
                *ngIf="!addForm.get('amount').valid && formSubmitAttempt"
                class="help-block" style="color: red;">Insira um valor !</span>
            </div>
          <div class="col-xs-2">
            <button
              type="submit"
              class="btn btn-success"
            >Adicionar
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
