<div class="row">
  <div class="col-xs-12 col-md-pull-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group row pull-right" style="display: inline-block">
          <div class="col-xs-2" style="padding-top: 7px">
              <label>
                <input
                  type="radio"
                  name="transactionType"
                  value="saque"
                  formControlName="transactionType"
                >
                saque
              </label>
          </div>
          <div class="col-xs-3" style="padding-top: 7px">
              <label>
                <input
                  type="radio"
                  name="transactionType"
                  value="deposito"
                  formControlName="transactionType"
                >
                deposito
              </label>
            </div>
            <div class="col-xs-5">
              <input
                type="text"
                id="amont"
                formControlName="amount"
                class="form-control"
                placeholder="Valor">
              <span
                *ngIf="!addForm.get('amount').valid && addForm.get('amount').touched && formSubmitAttempt"
                class="help-block">Saldo insuficiente!</span>
            </div>
          <div class="col-xs-1">
            <button
              type="submit"
              class="btn btn-success"
            >Adicionar</button>
          </div>
        </div>
    </form>
  </div>
</div>
