<div class="row">
  <div class="col-xs-12">
    <form>
        <div class="form-group row pull-right" style="display: inline-block">
          <div class="col-xs-2" style="padding-top: 7px">
              <label>
                <input
                  style="text-align: center"
                  type="radio"
                  name="transactionType"
                  value="TIPO"
                >
                radio
              </label>
          </div>
          <div class="col-xs-2" style="padding-top: 7px">
              <label>
                <input
                  type="radio"
                  name="transactionType"
                  value="TIPO"
                >
                radio
              </label>
            </div>
            <div class="col-xs-5">
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control"
                placeholder="Valor">
            </div>
          <div class="col-xs-3">
            <button
              type="submit"
              class="btn btn-success"
            >Adicionar</button>
          </div>
        </div>
    </form>
  </div>
</div>
