<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tipo <span class="caret"></span></th>
        <th>Valor <span class="caret"></span></th>
        <th><span class="caret"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions; let i = index"
          [class]="transaction.type === 'deposito' ? 'success' : 'danger'"
      >
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.amount | currency:'USD':true:'1.2-2' }}</td>
        <td><a style="cursor: pointer" (click)="onRemoveTransaction(i)"> Remover</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
