.table-fill {
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

th {
  color:#AFBFB5;
  background:#1b1e24;
  font-size:20px;
  font-weight: 100;
  padding:18px;
  text-align:left;
  vertical-align:middle;
}

tr {
  height: 30px;
}

td {
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
}

a {
  cursor: pointer;
}

