<div class="row">
  <div class="col-xs-12">
    <table class="table-fill">
      <thead>
      <tr>
        <th>Tipo <span class="caret"></span></th>
        <th>Valor <span class="caret"></span></th>
        <th><span class="caret"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions; let i = index"
          [class]="transaction.type === 'deposito' ? 'text-green' : 'text-red'"
      >
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.amount | currency:'USD':true:'1.2-2' }}</td>
        <td><a (click)="onRemoveTransaction(i)"> <span class="table-remove glyphicon glyphicon-remove"></span></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
