<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th><span class="caret"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of getTransactions()">
        <td *ngIf="transaction.type === 'deposito'">info</td>
        <td *ngIf="transaction.type === 'saque'">danger</td>
        <td>transaction.type</td>
        <td>transaction.amount</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
